@use 'index' as *; 


button {
   
    width: 100%;
    padding: $spacing-3;
    border: none;
    border-radius: $radius-3;
    font-family: $font-lato;
    font-weight: 600;
    cursor: pointer;
  

   
    &.primary {
        background-color: $orange-700;
        color: $gray-50;

        &:hover:not(:disabled) {
            background-color: $orange-600;
        }

        &:active:not(:disabled) {
            transform: scale(0.98);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
            transition: opacity 0.2s ease;
        }
    }

    &.secondary {
        background-color: $blue-500;
        color: $gray-50;

        &:hover:not(:disabled) {
            background-color: $blue-400;
        }

        &:active:not(:disabled) {
            transform: scale(0.98);
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
            transition: opacity 0.2s ease;
        }
    }
    
    
    &.full-width {
        width: 100%;
    }
}