@use 'typography' as *;
@use 'colors' as *;
@use 'variables' as *;

.secure-text {
  margin-top: $spacing-4;
  @include body-3;
  color: $gray-600;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-1;
    gap:.51rem;

    .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: $spacing-1;
    }
  }

  small {
    display: block;
  }
}
