@use "_variables" as *;
@use "_typography" as *;

.logo {
        display: flex;
        justify-content: center;
        h1 {
            @include h-5;
            color: $header-dark;
            font-weight: bold;
            span {
                color: $primary-color;
            }
        }
    }