<app-modal (closeModal)="onCancel()">
  <div class="modal-header">
    <h2 class="modal-title">{{ currentEvent()?.title }}</h2>
    
  </div>

  <form #formRef="ngForm" (ngSubmit)="onSubmit()" class="registration-form">
    <app-input
      label="Full Name"
      placeholder="Enter your full name"
      [(ngModel)]="fullName"
      name="fullName"
      #nameRef="ngModel"
      [required]="true"
      [errorMessage]="getErrorMessage(nameRef)"
    ></app-input>

    <app-input
      label="Email"
      type="email"
      placeholder="user@eventhub.com"
      [(ngModel)]="email"
      name="email"
      #emailRef="ngModel"
      [required]="true"
      [errorMessage]="getErrorMessage(emailRef)"
    ></app-input>

    @if (isPaid()) {
    <div class="quantity-group">
      <label class="form-label"
        >Number of {{ capitalizeWords(selectedTicket()?.type || '') }} Tickets</label
      >
      <app-quantity-input
        [(ngModel)]="ticketCount"
        name="ticketCount"
      ></app-quantity-input>
    </div>
    }

    <app-button  [disabled]="loading()|| (formRef.invalid||false)" type="primary" [buttonType]="'submit'">
      @if (isPaid()) { Proceed to Payment } @else { Register for Event }
    </app-button>
  </form>
</app-modal>
