<app-modal (closeModal)="onCancel()">
  <div class="modal-header">
    <h2 class="modal-title">{{ currentEvent()?.title }}</h2>
    
  </div>

  <form (ngSubmit)="onSubmit()" class="registration-form">
    <app-input
      label="Full Name"
      placeholder="Enter your full name"
      [(ngModel)]="fullName"
      name="fullName"
      [required]="true"
    ></app-input>

    <app-input
      label="Email"
      type="email"
      placeholder="user@eventhub.com"
      [(ngModel)]="email"
      name="email"
      [required]="true"
    ></app-input>

    @if (isPaid()) {
    <div class="quantity-group">
      <label class="form-label"
        >Number of {{ selectedTicket()?.type }}s</label
      >
      <app-quantity-input
        [(ngModel)]="ticketCount"
        name="ticketCount"
      ></app-quantity-input>
    </div>
    }

    <app-button [disabled]="loading()" type="primary" [buttonType]="'submit'">
      @if (isPaid()) { Proceed to Payment } @else { Register for Event }
    </app-button>
  </form>
</app-modal>
