<div class="user-card">
  <div class="user-card__icon" [style.background-color]="data.bgColor">
    <img [src]="data.icon" [alt]="data.title" [style.filter]="data.iconColor" />
  </div>

  <div class="user-card__content">
    <span class="user-card__title">{{ data.title }}</span>
    <div class="user-card__stats">
      <span class="user-card__count">{{ data.count | number }}</span>

      @if (data.percentageChange != null) {
      <span
        class="user-card__change"
        [class.user-card__change--positive]="isPositive()"
        [class.user-card__change--negative]="isNegative()"
      >
        {{ isPositive() ? "+" : "" }}{{ data.percentageChange }}%
        <img
          [src]="
            isPositive()
              ? 'icons/trending-icon.png'
              : 'assets/icons/arrow-down.svg'
          "
          alt="trend"
          class="user-card__arrow"
        />
      </span>
      }
    </div>
  </div>
</div>
