<article class="event-card">
  <img (error)="handleImageFallback($event)" [src]="event().flyerUrl" [alt]="event().title" class="event-card__image" />

  <div class="event-card__content">

    @if (event().ticketPrice || event().isPaid) {
    <span class="event-card__badge badge--paid">Paid</span>
    } @else {
    <span class="event-card__badge badge--free">Free</span>
    }

    <div class="event-card__info">
      <span class="event-card__icon-text">
        <img src="icons/Mixed.png" alt="Calendar" class="info-icon" />
        {{ (event().startTime| date : 'MMM d, y')|| "N/A"   }}
      </span>

      <h3 class="event-card__title">{{ event().title }}</h3>

      <span class="event-card__icon-text">
        <img src="icons/room.png" alt="Location" class="info-icon" />
        {{ event().location || "N/A" }}
      </span>

      @if (event()) {
      <span class="event-card__icon-text">
        <img src="icons/users-icon.png" alt="Attendees" class="info-icon" />
        {{ event().attendeeCount || 0}} attendees
      </span>
      }
    </div>


    @if (variant() === 'manage') {
    <app-button [type]="'secondary'" [extraClass]="'event-card__button'" (onClick)="onManageClick()">
      Manage Event
    </app-button>
    } @else {
    <app-button [type]="'secondary'" [extraClass]="'event-card__button'" (onClick)="navigateToDetails()">
      View Event
    </app-button>
    }
  </div>
</article>