
@use 'sass:color';

:host {
  display: block;
}

.event-card {
  width: 100%;
  border-radius: 0.5rem; 
  border: 1px solid #e5e7eb; 
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.07);
    transform: translateY(-2px);
  }
}


.event-card__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}


.event-card__content {
  padding: 1rem 1.25rem 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
  flex-grow: 1;
  position: relative;
}


.event-card__badge {
  position: absolute;
  top: 1rem; 
  right: 1.25rem;
  padding: 0.25rem 0.75rem; 
  border-radius: 62.438rem; 
  font-family: 'Lato', sans-serif;
  font-size: 0.75rem; 
  font-weight: 600;
  display: inline-block;
  z-index: 2;

  &.badge--paid {
    background-color: #e6f7ff;
    color: #006adc;
  }
  &.badge--free {
    background-color: #e7f7e9; 
    color: #0d8902; 
  }
}


.event-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem; 
  flex-grow: 1;
}

.event-card__icon-text {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem; 
  font-weight: 400;
  color: #656565; 

  .info-icon {
    width: 1rem; 
    height: 1rem;
    opacity: 0.7;
  }
}

.event-card__title {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem; 
  font-weight: 700;
  color: #292929; 
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


::ng-deep .event-card__button {
  width: 100%;
  margin-top: 0.5rem; 
}