<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <!-- Brand Section -->
      <div class="footer__brand">
        <div class="footer__logo">
          <span class="footer__logo--orange">Event</span>
          <span class="footer__logo--blue">Hub</span>
        </div>
        <p class="footer__tagline">
          Making event management seamless and successful.
        </p>
      </div>

      <!-- Footer Link Groups -->
      <ng-container *ngFor="let group of footerLinks()">
        <div class="footer__links">
          <h3 class="footer__title">{{ group.title }}</h3>
          <a
            *ngFor="let link of group.links"
            [routerLink]="link.path"
            class="footer__link"
          >
            {{ link.label }}
          </a>
        </div>
      </ng-container>

      <!-- Social Links -->
      <div class="footer__social-icons">
        <a
          *ngFor="let social of socialLinks()"
          [href]="social.url"
          target="_blank"
          rel="noopener noreferrer"
          class="footer__social-link"
          [attr.aria-label]="social.name"
        >
          <img
            [src]="social.iconPath"
            [alt]="social.name"
            width="20"
            height="20"
          />
        </a>
      </div>
    </div>

    <!-- Copyright -->
    <div class="footer__copyright">© 2025 EventHub. All rights reserved.</div>
  </div>
</footer>
