<div class="slider-container">
  <div class="slider-header">
    <h2 class="slider-title">Venue Images</h2>
    <div class="slider-nav">
      <app-button
        type="plain"
        variant="icon"
        (click)="prev()"
        [disabled]="isPrevDisabled()"
        aria-label="Previous image"
      >
        <img icon src="icons/chevron-left.png" alt="Previous" />
      </app-button>

      <app-button
        type="plain"
        variant="icon"
        (click)="next()"
        [disabled]="isNextDisabled()"
        aria-label="Next image"
      >
        <img icon src="icons/Nav.png" alt="Next" />
      </app-button>
    </div>
  </div>

  <div class="image-list-wrapper">
    <div
      class="image-list"
      [style.transform]="
        'translateX(' + -currentIndex() * slideWidthPercentage() + '%)'
      "
    >
      @for (image of images; track image) {
      <div
        class="image-slide"
        [style.width.%]="slideWidthPercentage()"
        (click)="onImageClick(image)"
        (keydown.enter)="onImageClick(image)"
        (keydown.space)="onImageClick(image); $event.preventDefault()"
        role="button"
        tabindex="0"
      >
        <div class="image-wrapper">
          <img
            [ngSrc]="image"
            [alt]="'location image '+$index+1"
            class="venue-image"
            width="300"
            height="150"
          />
          
          @if (image) {
          <div class="image-caption">
            <span>{{ image }}</span>
          </div>
          }
          
          <div class="click-overlay">
            <span class="view-full-text">Click to view full size</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>