// blue
$blue-50: #f0f9ff;
$blue-100: #e1f3fd;
$blue-200: #bce7fb;
$blue-300: #80d5f9;
$blue-400: #818CF8;
$blue-500: #14a9e3;
$blue-600: #0787c2;
$blue-700: #076c9d;
$blue-800: #0a5b82;
$blue-900: #0f4c6b;
$blue-950: #08283b;


// orange
$orange-50: #fff7ec;
$orange-100: #ffedd3;
$orange-200: #ffd8a5;
$orange-300: #ffbc6d;
$orange-400: #ff9332;
$orange-500: #ff740a;
$orange-600: #ff5a00;
$orange-700: #cc3f02;
$orange-800: #a1320b;
$orange-900: #822b0c;
$orange-950: #461304;

// gray
$gray-50: #ffffff;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-250: #eeeef0;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;

// red
$red-50: #fff0f0;
$red-100: #ffdddd;
$red-200: #ffc0c0;
$red-300: #ff9494;
$red-400: #ff5757;
$red-500: #ff2323;
$red-600: #ff0505;
$red-700: #d70000;
$red-800: #b10303;
$red-900: #920a0a;
$red-950: #500000;

// green
$green-50: #ebffe4;
$green-100: #d2ffc5;
$green-200: #a7ff92;
$green-300: #6fff53;
$green-400: #3efb20;
$green-500: #1adb00;
$green-600: #10b500;
$green-700: #0d8902;
$green-800: #0f6c08;
$green-900: #115b0c;
$green-950: #013300;

$primary-color: $blue-600;
$text-primary: $gray-900;
