@use "variables" as *;
@use "typography" as *;

$primary-btn-color: #cc3f02;

@mixin primary_btn {
    
    @include body-1;
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    border-radius: radius-4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    font-style: bold;
    letter-spacing: 0;
    line-height: 100%;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: darken($primary-btn-color, 10%);
    }

    &:disabled {
        background-color: lighten($primary-btn-color, 20%);
        cursor: not-allowed;
    }
}

@mixin secondary_btn{
    border: 1.5px solid  #464646;
    display: flex;
    align-items: center;
    justify-content: center;
    @include body-1;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    
}
@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  @if $gap != 0 { gap: $gap; }
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  @if $gap != 0 { gap: $gap; }
}

@mixin bordered-box {
  border: 0.156rem solid $general-stroke-light;
  border-radius: $radius-4;
}