$font-inter: "Inter", sans-serif;
$font-lato: "Lato", sans-serif;

$font-stack: $font-lato;

@mixin h-1 {
    font-family: $font-lato;
    font-size: 3rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 700;
    font-style: bold;
}
@mixin h-2 {
    font-family: $font-lato;
    font-size: 2.5rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 700;
    font-style: bold;
}
@mixin h-3 {
    font-family: $font-lato;
    font-size: 2rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 700;
    font-style: bold;
}

@mixin h-4 {
    font-family: $font-lato;
    font-size: 1.75rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 700;
      font-style: bold;
}

@mixin h-5 {
    font-family: $font-lato;
    font-size: 1.5rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 700;
    font-style: bold;
}
@mixin h-6 {
    font-family: $font-lato;
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    font-weight: 500;
    font-style: medium;
}


@mixin body-1 {
    font-family: $font-lato;
    font-size: 1rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
}
@mixin body-2 {
    font-family: $font-lato;
    font-size: 0.875rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}
@mixin body-3 {
    font-family: $font-lato;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}
@mixin body-4 {
    font-family: $font-lato;
    font-size: 0.625rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}
@mixin body-5 {
    font-family: $font-lato;
    font-size: 0.5rem;
    line-height: auto;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;

}
