
@use 'sass:color';



.filter-input-wrapper {
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #dcdcdc; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &.search-wrapper {
    flex-grow: 1.5;
  }

  
  &:focus-within {
    box-shadow: 0 0 0 3px rgba(204, 63, 2, 0.3); 
    border-color: #cc3f02; 
  }
}

.filter-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem; 
  height: 1rem;
  pointer-events: none;
  z-index: 10;
  opacity: 0.7;
}

.filter-search {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #292929;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.4;
  height: 48px;
  background-color: transparent;
  border: none;
 
  padding: 0.75rem 1rem 0.75rem calc(0.75rem + 1rem + 0.5rem);

  &::placeholder {
    color: #656565;
    opacity: 1;
  }

  &:focus,
  &:focus-within {
    outline: none;
  }
}
