@if (ticketInfo(); as ticket) {
<div class="ticket-card">
  <h3 class="card-title">
    @if (ticket.title.includes('Free')) {
    <span>Get Your <span class="blue-text">Free</span> Ticket</span>
    } @else {
    <span>{{ ticket.title }}</span>
    }
  </h3>

  @if (!isFree()) {
  <div class="price">{{ ticket.currency }}{{ ticket.price }}</div>
  }

  
  <ul class="features-list">
    @for (feature of ticket.features; track $index) {
    <li class="feature-item">
    
      <img
        src="icons/checkmark.png"
        alt="Checkmark"
        class="check-icon"
        aria-hidden="true"
      />
      <span>{{ feature }}</span>
    </li>
    }
  </ul>

  <app-button type="primary" (click)="registerClick.emit()">
    {{ ticket.buttonText }}
  </app-button>
</div>
}

