<section class="why-us">
  <div class="why-us__container container">
    <div class="why-us__content">
      <span class="why-us__label">{{ _sectionLabel() }}</span>
      <h2 class="why-us__title">{{ _title() }}</h2>
      
      <div class="why-us__features">
        @for (feature of _features(); track _trackByFeature($index, feature)) {
          <div class="why-us__feature">
            <div class="why-us__check-icon">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.3337 4L6.00033 11.3333L2.66699 8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <span class="why-us__feature-text">{{ feature.text }}</span>
          </div>
        }
      </div>
    </div>

    <div class="why-us__image-wrapper">
      <div class="why-us__phone-container">
        <div class="why-us__phone-frame">
          <div class="why-us__phone-notch"></div>
          <img 
            [src]="_phoneImage()" 
            alt="Mobile app interface" 
            class="why-us__phone-image"
            loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>