<div class="container">
    <div class="left">
        <img width="282" height="331" [ngSrc]="createdEvent?.flyerUrl || 'images/flyer.jpg'" alt="flyer cover image"
            srcset="">
        <div class="action-container">
            <p>You have manage access to this event.</p>
            <app-button (onClick)="manageEvent()" type="secondary">Manage</app-button>
        </div>
        <div class="author">
            <p>Hosted By</p>
            <p>{{currentUser?.fullName}}</p>
        </div>
    </div>
    <div class="right">
        <div class="summary">
            <h2>{{createdEvent?.title}}</h2>

            <div class="info">
                <div class="organizer">
                    <p>Organizer:</p>
                    <p>{{currentUser?.fullName}}</p>
                </div>
                <ul>
                    <li>
                        <div class="label">
                            <img src="icons/calender-icon.png" alt="calander icon" srcset="">
                            <p>Date:</p>
                        </div>
                        <p>{{createdEvent?.startTime| date:'d MMMM, y'}}</p>
                    </li>
                    <li>
                        <div class="label">
                            <img src="icons/clock.svg" alt="clock icon" srcset="">
                            <p>Time:</p>
                        </div>
                        <p>{{createdEvent?.startTime | date:'hh:mm a'}}</p>
                    </li>
                    <li>
                        <div class="label">
                            <img src="icons/pin.svg" alt="location pin icon" srcset="">
                            <p>Location:</p>
                        </div>
                        <p>{{createdEvent?.location}}</p>
                    </li>
                </ul>
            </div>

            <p class="message">Thank you for creating an event with Event Hub.
                We hope you enjoy the event</p>
        </div>
        <div class="description">
            <h4>Event Description</h4>
            <p>{{createdEvent?.description}}</p>
        </div>
    </div>
</div>