<div class="wrapper">

    <div class="content">
        <app-logo></app-logo>
        <div class="header">
            <h2>Sign Up</h2>
            <p>Fill the form below to register your account</p>
        </div>
        <div class="form-container">
            <form [formGroup]="signupForm" method="post">
                <app-input label="Full name" [required]="true" [errorMessage]="getErrorMessage(formTypes.FULL_NAME)" iconSrc="icons/user.png" type="text"
                    [formControlName]="formTypes.FULL_NAME" placeholder="E.g., John Doe"></app-input>
                <app-input label="Email Address" [required]="true" [errorMessage]="getErrorMessage(formTypes.EMAIL)" iconSrc="icons/mail.png" type="email"
                    [formControlName]="formTypes.EMAIL" placeholder="user@gmail.com"></app-input>

                <div class="row">
                    <app-input label="Password" [required]="true" [errorMessage]="getErrorMessage(formTypes.PASSWORD)" iconSrc="icons/lock.png"
                        type="password" [formControlName]="formTypes.PASSWORD" placeholder="********"></app-input>
                    <app-input label="Confirm Password" [required]="true" [errorMessage]="getErrorMessage(formTypes.CONFIRM_PASSWORD)" iconSrc="icons/lock.png"
                        type="password" [formControlName]="formTypes.CONFIRM_PASSWORD"
                        placeholder="********"></app-input>
                </div>
            </form>
            <div class="action-container">
            
                <app-button [disabled]="loading || signupForm.invalid" (onClick)="onSubmit()" type="primary">
                    Create Account
                </app-button>
                
                <div class="divider">
                    <hr>
                    <span>Or Sign Up with</span>
                    <hr>
                </div>
                <div class="socials-login">
                    <app-button type="social">
                        <img src="icons/google.svg" alt="google icon">
                    </app-button>
                    <app-button type="social">
                        <img src="icons/apple.svg" alt="google icon">
                    </app-button>
                    <app-button type="social">
                        <img src="icons/facebook.svg" alt="google icon">
                    </app-button>
                </div>

                <div class="secure-info">
                    <div class="header-info">
                        <img src="icons/info.svg" alt="security info icon">
                        <h3>Secure login enabled</h3>
                    </div>
                    <p>This is a secure, encrypted connection</p>
                </div>

                <p class="already-signin">Already have an account? <a [routerLink]="getLoginRoute"
                        class="signin-cta">Sign
                        In</a></p>

            </div>
        </div>
    </div>

</div>