<div class="login-container">
  <div class="login-card">
    <h2 class="app-name">Event <span>Hub</span></h2>
    <h3 class="welcome-text">Welcome Back!</h3>
    <p class="subtitle">Log In to your account</p>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
<app-input
  formControlName="email"
  label="Email Address"
  type="email"
  placeholder="user@gmail.com"
  [required]="true"
  [errorMessage]="hasFieldError('email') ? getFieldErrorMessage('email') : ''"
  [iconSrc]="'icons/mail.png'"
></app-input>

<app-input
  formControlName="password"
  label="Password"
  type="password"
  placeholder="••••••••"
  [required]="true"
  [errorMessage]="hasFieldError('password') ? getFieldErrorMessage('password') : ''"
  [iconSrc]="'icons/lock.png'"
></app-input>


      <div class="extras">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            formControlName="remember"
            autocomplete="off"
          />
          <span class="checkmark"></span>
          <span class="label-text">Remember me</span>
        </label>

        <a class="forgot-link" routerLink="/auth/forgot-password">
          Forgot password?
        </a>
      </div>

      <app-button
        buttonType="submit"
        type="primary"
        [fullWidth]="true"
        [disabled]="form.invalid"
      >
        Log In
      </app-button>
    </form>

    <app-divider text="Or continue with"></app-divider>

    <app-social-login></app-social-login>

    <app-secure-text></app-secure-text>

    <p class="signup-text">
      Don't have an account?
      <a [routerLink]="APP_ROUTES.SIGNUP">Sign Up</a>
    </p>

    <a class="forgot-link" [routerLink]="APP_ROUTES.FORGOT_PASSWORD">
      Forgot password?
    </a>
  </div>
</div>
