<app-data-table
  [data]="mockInvites"
  [columns]="columns"
  [actions]="actions"
  [searchable]="true"
  [searchSize]="'lg'"
  [showCheckboxes]="true"
  [showFilters]="false"
  [tableTitle]="'Saved Invitations'"
  [searchPlaceholder]="'Search invitations...'"
  [itemsPerPage]="10"
/>


@if (isEditModalOpen() && selectedInvite()) {
  <app-edit-saved-invite
    [inviteData]="selectedInvite()"
    (close)="closeEditModal()"
    (save)="onSaveEdit($event)"
  />
}

@if (isPreviewModalOpen() && selectedInvite()) {
  <app-view-saved-invite
    [inviteData]="selectedInvite()"
    (close)="closePreviewModal()"
  />
}
