@use 'typography' as *;
@use 'colors' as *;
@use 'variables' as *;
.divider {
  position: relative;
  @include body-2;
  color: $gray-500;
  margin: 1rem 0 1.5rem;
  display: flex;
  align-items: center;
  
  

  

  .line{
    display: inline-block;
    height: 1px;
    background-color: $gray-300;
    position: relative;
    flex: 0 0 30%;

 

    
  }
  span{
    flex: 0 0 40%;
    font-size: 1.12rem;
    font-weight: 700;

  }



  &[aria-hidden="true"] {
    &::before {
      background-color: transparent;
    }
  }
}