@use "typography" as *;
@use "variables" as *;
@use "theme" as *;
@use "media_query" as *;

@mixin flex-col($gap: 0) {
  display: flex;
  flex-direction: column;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin bordered-box {
  border: 0.156rem solid $general-stroke-light;
  border-radius: $radius-4;
}

.wrapper {
  padding: 43px clamp(1.5rem, 6vw, 7.5rem) 151px;
  background: linear-gradient(180.65deg, #ffffff 88.1%, #999999 137.06%);
  @include flex-row(clamp(1rem, 4.54vw, 7.875rem));
  justify-content: center;
  margin: auto;

  @include md {
    gap: 1.25rem;
    padding: 18px 2rem 134px;
  }

  @include sm {
    @include flex-col(1rem);
    padding: 51px 1.5rem 149px;
  }
}

.left-panel {
  @include flex-col(1.875rem);
  max-width: 589px;
  width: 100%;
  overflow: hidden;

  @include sm {
    max-width: none;
  }
  app-upload-event-flyer {
    display: none;

    // @include sm{
    //   display: block
    // }

    // @include md{
    //   display: block
    // }
  }

  .title-container {
    @include flex-col(3rem);

    input.title {
      @include h-2;
      width: 100%;
      padding-bottom: 1rem;
      outline: none;
      border: none;
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid $paragraph-text;
      color: $paragraph-text;
      border-bottom: 1px solid rgb(219, 219, 219);
      &::placeholder {
        color: $paragraph-text;
      }
    }
  }

  .time-container {
    @include flex-col($spacing-6);
    @include bordered-box;
    padding: 1.688rem $spacing-5;

    @include md {
      padding: 2rem 0.5rem;
    }
    @include sm {
      padding: 2.125rem 1.25rem;
    }

    .day-container {
      @include flex-row($spacing-4);
      @include body-1;

      @include md {
        @include body-2;
        gap: $spacing-2;
      }

      @include sm {
        @include body-3;
        gap: $spacing-4;
      }
    }

    .date-container {
      @include flex-col($spacing-2);

      .row {
        flex: 1;
        @include flex-row($spacing-3);
        align-items: center;
      }
    }
  }
}

.event-info-container {
  @include flex-col($spacing-6);
  @include body-1;
  border: 2.5px solid $general-stroke-light;
  border-radius: $radius-4;
  padding: 84px $spacing-5;

  @include md {
    padding: 6.625rem 0.5rem;
  }

  .meeting-contianer {
    @include flex-row($spacing-4);
    align-items: center;
  }

  .in-person-details,
  .virtual-details {
    @include flex-col(8px);

    p {
      @include label-1;
      color: $sub-header-dark;
    }
  }

  .field {
    @include flex-col($spacing-2);

    label {
      @include label-1;
      color: $sub-header-dark;
    }

    textarea {
      @include body-2;
      @include bordered-box;
      width: 100%;
      height: 148px;
      resize: none;
      outline: none;
      color: $paragraph-text;
      padding: 8px;
      &.error {
        border-color: red;
      }
    }
  }

  .upload-continer {
    @include flex-col(48px);

    .image-container {
      @include flex-col($spacing-2);

      p {
        @include label-1;
        color: $sub-header-dark;
      }

      .preview-container {
        @include flex-row($spacing-2);
        align-items: center;
        overflow-x: auto;

        .preview {
          width: 203px;
          height: 112px;
          display: flex;
          border-radius: $radius-4;
          position: relative;

          img {
            border-radius: $radius-4;
            flex: 1;
            object-fit: cover;
            background-size: cover;
          }

          button {
            transition: all 0.3ms ease-in-out;
            border: none;
            position: absolute;
            width: fit-content;
            height: fit-content;
            border-radius: 100%;
            padding: 0.2rem;
            opacity: 0.5;
            top: 0;
            right: 0;
            background-color: white;
            border: 1px solid rgb(204, 204, 204);
            
            img {
              height: 1.5rem;
              width: 1.5rem;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        app-button {
          border: 1px dashed $general-stroke-dark;
          border-radius: $radius-4;
          background-color: transparent;
          width: 203px;
          height: 112px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;

          img {
            width: $spacing-6;
            height: $spacing-6;
          }
        }
      }
    }

    button,
    .define-venue-sections {
      background-color: transparent;
      @include secondary_btn;
      justify-content: space-between;
      padding: 14.5px 24px;
    }

    .define-venue-sections {
      text-decoration: none;
      color: $sub-header-dark;
    }
  }

  .virtual-details {
    app-button {
      background-color: transparent;
      border: 1px solid $general-stroke-light;
      border-radius: 8px;
      padding: 15px 8px;
      display: flex;
      width: 100%;

      .button-content {
        flex: 1;
        @include flex-row(0.5rem);
        align-items: center;
        cursor: pointer;
        @include body-2;
        color: $paragraph-text;
      }

      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.right-panel {
  @include flex-col(62px);
  max-width: 486px;
  width: 100%;
  overflow: hidden;

  @include sm {
    max-width: none;
  }

  // app-upload-event-flyer{
  //   display: black;

  //   @include sm{
  //     display: none;
  //   }

  //   @include md{
  //     display: none;
  //   }
  // }

  .event-options-container {
    @include flex-col(16px);

    button {
      @include primary_btn;
      border-radius: 8px;
      padding: 14.5px 0;
    }
  }
}
