@use "typography" as *;
@use "variables" as *;
@use "theme" as *;
@use "media_query" as *;

.wrapper {
    padding: 0 clamp(1.5rem, 6vw, 7.5rem);
    background: linear-gradient(180.65deg, #ffffff 88.1%, #999999 137.06%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(1rem, 4.54vw, 7.875rem);
    padding-top: 43px;
    padding-bottom: 151px;

    margin: auto;

    @include md {
        gap: 1.25rem;
        padding: 0 2rem;
        padding-top: 18px;
        padding-bottom: 134px;
    }

    @include sm {
        gap: 1rem;
        flex-direction: column;
        padding: 0 1.5rem;
        padding-top: 51px;
        padding-bottom: 149px;
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        max-width: 589px;
        width: 100%;
        overflow: hidden;

        @include sm {
            width: 100%;
            max-width: unset;
        }

        .title-container {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            input.title {
                @include h-2;
                outline: none;
                border: none;
                color: $paragraph-text;

                &::placeholder {
                    color: $paragraph-text;
                }
            }

            .time-container {
                display: flex;
                flex-direction: column;
                padding: 1.688rem $spacing-5;
                border: 0.156rem solid $general-stroke-light;
                border-radius: $radius-4;
                gap: $spacing-6;

                @include md {
                    padding: 2rem 0.5rem;
                }

                @include sm {
                    padding: 2.125rem 1.25rem;
                }

                .day-container {
                    display: flex;
                    flex-direction: row;
                    gap: $spacing-4;
                    @include body-1;

                    @include md {
                        @include body-2;
                        gap: $spacing-2;
                    }

                    @include sm {
                        @include body-3;
                        gap: $spacing-4;
                    }
                }

                .date-container {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-2;

                    .row {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: $spacing-3;
                    }
                }
            }
        }

        .event-info-container {
            display: flex;
            flex-direction: column;
            gap: $spacing-6;
            border: 2.5px solid $general-stroke-light;
            border-radius: $radius-4;
            padding: 84px $spacing-5;
            @include body-1;

            @include md {
                padding: 6.625rem 0.5rem;
            }

            .meeting-contianer {
                display: flex;
                flex-direction: row;
                gap: $spacing-4;
                align-items: center;

            }

            .in-person-details {
                display: flex;
                flex-direction: column;
                gap: $spacing-6;
            }

            .field {
                display: flex;
                flex-direction: column;
                gap: $spacing-2;

                label {
                    @include label-1;
                    color: $sub-header-dark;
                }

                textarea {
                    @include body-2;
                    border: 1px solid $general-stroke-light;
                    border-radius: $radius-4;
                    width: 100%;
                    height: 148px;
                    resize: none;
                    outline: none;
                    color: $paragraph-text;
                    padding: 8px;
                }
            }

            .upload-continer {
                display: flex;
                flex-direction: column;
                gap: 48px;

                .image-container {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-2;

                    p {
                        @include label-1;
                        color: $sub-header-dark;
                    }

                    .preview-container {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: $spacing-2;
                        overflow-x: auto;

                        .preview {
                            width: 203px;
                            height: 112px;
                            border-radius: $radius-4;
                            object-fit: cover;
                        }

                        app-button {
                            border: 1px dashed $general-stroke-dark;
                            border-radius: $radius-4;
                            background-color: transparent;
                            width: 203px;
                            height: 112px;
                            display: flex;
                            flex-shrink: 0;
                            align-items: center;
                            justify-content: center;

                            img {
                                width: $spacing-6;
                                height: $spacing-6;
                            }
                        }
                    }
                }

                button,
                .define-venue-sections {
                    background-color: transparent;
                    @include secondary_btn;
                    justify-content: space-between;
                    padding: 14.5px 24px;
                }

                .define-venue-sections {
                    text-decoration: none;
                    color: $sub-header-dark;
                }
            }

            .virtual-details {
                display: flex;
                flex-direction: column;
                gap: 8px;

                p {
                    @include label-1;
                    color: $sub-header-dark;
                }

                app-button {
                    background-color: transparent;
                    border: 1px solid $general-stroke-light;
                    border-radius: 8px;
                    padding: 15px 8px;
                    display: flex;
                    width: 100%;

                    .button-content {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5rem;
                        cursor: pointer;
                        @include body-2;
                        color: $paragraph-text;
                    }

                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }
            }
        }
    }

    .right-panel {
        max-width: 486px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 62px;

        @include md {
        }

        @include sm {
            width: 100%;
            max-width: unset;
        }

        .event-options-container {
            display: flex;
            flex-direction: column;
            gap: 16px;

            button {
                @include primary_btn;
                border-radius: 8px;
                padding: 14.5px 0;
            }
        }
    }
}

