<form [formGroup]="form" method="post" class="wrapper">
    <div class="left-panel">
        <div class="title-container">
            <input type="text" placeholder="Add Event Title" class="title">
            <div class="time-container">
                <div class="day-container">
                    <p>Select event type:</p>
                    <div class="radio-container">
                        <input value="day" formControlName="eventType" type="radio" id="day-event">
                        <label for="day-event">Day Event</label>
                    </div>
                    <div class="radio-container">
                        <input value="multi-day" formControlName="eventType" type="radio" id="multi-day-event">
                        <label for="multi-day-event">Multi-day</label>
                    </div>
                </div>
                <div class="date-container" formArrayName="dates">
                    @for (dateGroup of eventDates.controls; track $index) {
                    <div class="row" [formGroupName]="$index">
                        <app-event-date-picker [control]="getDateControl(dateGroup, 'date')"></app-event-date-picker>
                        <app-event-time-picker [control]="getDateControl(dateGroup, 'time')"></app-event-time-picker>
                        <app-event-time-zone-picker
                            [control]="getDateControl(dateGroup, 'timeZone')"></app-event-time-zone-picker>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="event-info-container">
            <div class="meeting-contianer">
                <p>Select meeting type:</p>
                <div class="radio-container">
                    <input type="radio" value="virtual" formControlName="meetingType" id="virtual-meeting">
                    <label for="virtual-meeting">Virtual</label>
                </div>
                <div class="radio-container">
                    <input type="radio" value="in-person" formControlName="meetingType" id="inperson-meeting">
                    <label for="inperson-meeting">In-person</label>
                </div>
            </div>
            @if (meetingType?.value === "in-person") {
            <div class="in-person-details" formGroupName="inPersonDetails">
                <div class="field">
                    <label for="event-location">Add event location</label>
                    
                    <div class="input-container">
                        <img src="icons/pin.svg" alt="" srcset="">
                        <input type="text" formControlName="location" name="location" id="event-location"
                            placeholder="Type location here">
                    </div>
                </div>
                <div class="field">
                    <label for="description">Add event description</label>
                    <textarea name="description" formControlName="description" id="description"
                        placeholder="Type description here"></textarea>
                </div>
                <div class="upload-continer">
                    <div class="image-container">
                        <p>Upload up to 5 images of venue</p>
                        <div class="preview-container">
                            @for (image of inPersonDetails.get('images')?.value; track $index) {
                            <img [src]="getImageSrc(image)" alt="" class="preview" />
                            }
                            <input #venueFileInput type="file" accept="image/*" (change)="onVenueImageSelected($event)"
                                multiple hidden />
                            <button type="button" (click)="venueFileInput.click()"
                                [disabled]="inPersonDetails.get('images')?.value?.length >= 5">
                                <img src="icons/add.svg" alt="" class="preview">
                            </button>
                        </div>
                    </div>
                    <button type="button">
                        <p>Define venue section</p>
                        <img src="icons/arrow-right.svg" />
                    </button>
                </div>
            </div>
            }
            @if (meetingType?.value === "virtual") {
            <div class="virtual-details" formGroupName="virtualDetails">
                <p>Choose Virtual Option</p>
                <button type="button">
                    <img src="icons/cam_corder.svg" />
                    <p>Create Zoom Meeting</p>
                </button>
                <button type="button">
                    <img src="icons/cam_corder.svg" />
                    <p>Use Existing Meeting</p>
                </button>
            </div>
            }
        </div>
    </div>
    <div class="right-panel">
        <div class="flyer-container">
            <div class="flyer-preview">
                <img [src]="flyerPreview || 'images/flyer.jpg'" alt="" class="flyer-preview">

                <button type="button">
                    <img src="icons/image.svg" alt="" class="preview">
                </button>
            </div>
            <div class="change-flyer-container">
                <input #flyerFileInput type="file" accept="image/*" (change)="onFlyerImageSelected($event)" hidden>

                <div class="info">
                    <h5>Upload event flyer</h5>
                    <p>Accepted formats: PDF, JPG, PNG (max 10MB)</p>
                </div>
                <button (click)="flyerFileInput.click()" type="button">Change the picture</button>
            </div>
        </div>
        <div class="event-options-container">
            <div class="options-container">
                <h3>Event Options</h3>
                <ul class="options">
                    <li class="item">
                        <div class="left">
                            <img src="icons/ticket.svg" alt="" class="preview">
                            <p>Tickets</p>
                        </div>
                        <div class="right">
                            <p>$50</p>
                            <button (click)="togglePriceModal()">
                                <img src="icons/pencil.svg" alt="" class="preview">
                            </button>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <img src="icons/add-user.svg" alt="" class="preview">
                            <p>Require Approval</p>
                        </div>
                        <div class="right">
                            <label class="toggle-switch">
                                <input type="checkbox" [checked]="checked" (change)="onToggle()" />
                                <span class="slider"></span>
                            </label>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <img src="icons/trend-up.svg" alt="" class="preview">
                            <p>Capacity</p>
                        </div>
                        <div class="right">
                            <p>Unlimited</p>
                            <button>
                                <img src="icons/pencil.svg" alt="" class="preview">
                            </button>
                        </div>
                    </li>
                    <li class="item">
                        <div class="left">
                            <img src="icons/user-circle.svg" alt="" class="preview">
                            <p>Manage user roles</p>
                        </div>
                        <div class="right">
                            <img src="icons/chevron-right.svg" alt="" class="preview">
                        </div>
                    </li>
                </ul>
            </div>
            <button type="button" class="primary">
                Create event
            </button>
        </div>
    </div>
    @if (showPriceModal) {
        <app-modal-container (close)="togglePriceModal()">
           <div class="set-price-container">
                <img src="icons/ticket_circle.svg" alt="" srcset="" class="icon">
            <div class="header">
                <h3>Set Price for Event</h3>
                <p>Select whether your event is a free or paid event</p>
                <div class="alert-container">
                    <img src="icons/info_warn.svg" alt="" srcset="" class="icon">
                    <p>Define Venue Sections to add multiple prices</p>
                </div>
            </div>
            <div class="content">
                <div class="price-selection-container">
                    <div class="radio-container">
                        <input type="radio" name="price-selection" id="price-selection-free">
                        <label for="price-selection-free">Free Entry</label>
                    </div>
                    <div class="radio-container">
                        <input type="radio" name="price-selection" id="price-selection-paid">
                        <label for="price-selection-paid">Paid</label>
                    </div>
                </div>
               <app-input [iconSrc]="'icons/money.svg'" [label]="'Price'" [formControlName]="'price'" [type]="'text'" [placeholder]="'0.00'"></app-input>
                <div class="field">
                    <label for="price">What’s included with this ticket?</label>
                    <textarea name="price-included" id="price-included" placeholder="Enter what’s included with this ticket"></textarea>
                </div>
                <app-button [fullWidth]="true" type="primary">Set Price</app-button>
            </div>
        
           </div>
        </app-modal-container>
    }

</form>