<form [formGroup]="form" method="post" class="wrapper">
    <div class="left-panel">
        <app-upload-event-flyer (selectedFlyer)="onFlyerImageSelected($event)"
            [flyerPreview]="flyerPreview"></app-upload-event-flyer>
        <div class="title-container">
            <section>
                <input autofocus type="text" [formControlName]="EVENT_FORM_FIELDS.TITLE" placeholder="Add Event Title"
                    class="title">
                <app-form-error [message]="getError(form.get(EVENT_FORM_FIELDS.TITLE))"></app-form-error>
            </section>
            <div class="time-container">
                <div class="day-container">
                    <p>Select event type:</p>
                    <app-radio-button label="Day Event" id="day-event" [value]="EVENT_TYPES.SINGLE_DAY"
                        [controlName]="EVENT_FORM_FIELDS.EVENT_TYPE">
                    </app-radio-button>

                    <app-radio-button label="Multi-day" id="multi-day-event" [value]="EVENT_TYPES.MULTI_DAY"
                        [controlName]="EVENT_FORM_FIELDS.EVENT_TYPE">
                    </app-radio-button>
                </div>
                <div class="date-container" [formArrayName]="EVENT_FORM_FIELDS.DATES">
                    @for (dateGroup of eventDates.controls; track $index) {
                    <div class="row" [formGroupName]="$index">
                        <app-event-date-picker
                            [minDate]="$index === 1 ? getStartDate() : null"
                            [control]="getDateControl(dateGroup, EVENT_FORM_FIELDS.DATE)"></app-event-date-picker>
                        <app-event-time-picker
                            [control]="getDateControl(dateGroup, EVENT_FORM_FIELDS.TIME)"></app-event-time-picker>
                        <app-event-time-zone-picker
                            [control]="getDateControl(dateGroup, EVENT_FORM_FIELDS.TIME_ZONE)"></app-event-time-zone-picker>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="event-info-container">
            <div class="meeting-contianer">
                <p>Select meeting type:</p>
                <app-radio-button label="Virtual" id="virtual-meeting" [value]="MEETING_TYPES.VIRTUAL"
                    [controlName]="EVENT_FORM_FIELDS.MEETING_TYPE">
                </app-radio-button>

                <app-radio-button label="In-person" id="inperson-meeting" [value]="MEETING_TYPES.IN_PERSON"
                    [controlName]="EVENT_FORM_FIELDS.MEETING_TYPE">
                </app-radio-button>
            </div>
            @if (meetingType?.value === MEETING_TYPES.IN_PERSON) {
            <div class="in-person-details" [formGroupName]="EVENT_FORM_FIELDS.IN_PERSON_DETAILS">
                <div class="field">
                    <app-location-search [error]="inPersonDetails.get(EVENT_FORM_FIELDS.LOCATION)?.invalid && 
                                        inPersonDetails.get(EVENT_FORM_FIELDS.LOCATION)?.touched"
                        label="Add event location" placeholder="Type location here"
                        [formControlName]="EVENT_FORM_FIELDS.LOCATION"></app-location-search>
                    <app-form-error
                        [message]="getError(inPersonDetails.get(EVENT_FORM_FIELDS.LOCATION))"></app-form-error>
                </div>
                <div class="field">
                    <label for="description">Add event description</label>
                    <textarea [ngClass]="{
                        'error': inPersonDetails.get(EVENT_FORM_FIELDS.DESCRIPTION)?.invalid && 
                                        inPersonDetails.get(EVENT_FORM_FIELDS.DESCRIPTION)?.touched
                      }" name="description" [formControlName]="EVENT_FORM_FIELDS.DESCRIPTION" id="description"
                        placeholder="Type description here"></textarea>
                    <app-form-error
                        [message]="getError(inPersonDetails.get(EVENT_FORM_FIELDS.DESCRIPTION))"></app-form-error>
                </div>
                <div class="upload-continer">
                    <div class="image-container">
                        <p>Upload up to 5 images of venue</p>
                        <div class="preview-container">
                            @for (image of inPersonDetails.get(EVENT_FORM_FIELDS.IMAGES)?.value; track $index) {
                            <div class="preview">
                                <img [src]="getImageSrc(image)" alt="" />
                                <button (click)="removeImage($index)">
                                    <img src="icons/close_red.svg" alt="" />
                                </button>
                            </div>
                            }
                            <input #venueFileInput type="file" accept="image/*" (change)="onVenueImageSelected($event)"
                                multiple hidden />
                            <app-button [disabled]="inPersonDetails.get(EVENT_FORM_FIELDS.IMAGES)?.value?.length >= 5"
                                buttonType="button" type="plain" (onClick)="venueFileInput.click()">
                                <img src="icons/add.svg" alt="" class="preview">
                            </app-button>

                        </div>
                    </div>
                    <!-- <a [routerLink]='APP_ROUTE.VENUE_SECTION' class="define-venue-sections">
                        <p>Define venue section</p>
                        <img src="icons/arrow-right.svg" />
                    </a> -->
                </div>
            </div>
            }
            @if (meetingType?.value === MEETING_TYPES.VIRTUAL) {
            <div class="virtual-details" [formGroupName]="EVENT_FORM_FIELDS.VIRTUAL_DETAILS">
                <div class="field">
                    <label for="description">Add event description</label>
                    <textarea [ngClass]="{
                        'error': virtualDetails.get(EVENT_FORM_FIELDS.DESCRIPTION)?.invalid && 
                                        virtualDetails.get(EVENT_FORM_FIELDS.DESCRIPTION)?.touched
                      }" name="description" [formControlName]="EVENT_FORM_FIELDS.DESCRIPTION" id="description"
                        placeholder="Type description here"></textarea>
                    <app-form-error
                        [message]="getError(virtualDetails.get(EVENT_FORM_FIELDS.DESCRIPTION))"></app-form-error>
                </div>
                <p>Choose Virtual Option</p>
                <app-input [formControlName]="EVENT_FORM_FIELDS.MEETING_LINK" label="Meeting Link" placeholder="https://meet.google.com/xvhyee"></app-input>
                <!-- <app-button (click)="toggleConnectZoomModal()" type="plain">
                    <div class="button-content">
                        <img width="20" height="20" ngSrc="icons/cam_corder.svg" />
                        <p>Create Zoom Meeting</p>
                    </div>
                </app-button>
                <app-button (click)="toggleConnectZoomModal()" type="plain">
                    <div class="button-content">
                        <img width="20" height="20" ngSrc="icons/cam_corder.svg" />
                        <p>Use Existing Meeting</p>
                    </div>
                </app-button> -->
            </div>
            }
        </div>
    </div>
    <div class="right-panel">
        <app-upload-event-flyer (selectedFlyer)="onFlyerImageSelected($event)"
            [flyerPreview]="flyerPreview"></app-upload-event-flyer>
        <div class="event-options-container">
            <app-event-options-container [form]="form" [checked]="checked" (openCapacityModal)="toggleCapacityModal()"
                (openPriceModal)="togglePriceModal()"
                (requireApprovalChange)="onToggle()"></app-event-options-container>
            <app-button [disabled]="loading" buttonType="button" type="primary" [fullWidth]="true" (onClick)="createEvent()">
                Create Event
            </app-button>
        </div>

        @if (showPriceModal) {
        <app-set-price-modal [price]="form.get(EVENT_FORM_FIELDS.PRICE)?.value" (onSetPrice)="setPrice()"
            (closeModal)="togglePriceModal()"></app-set-price-modal>
        }

        @if (showCapacityModal) {
        <app-set-capacity-modal [capacity]="form.get(EVENT_FORM_FIELDS.CAPACITY)?.value"
            (removeCapacity)="removeCapacityLimit()" (setCapacity)="setCapacityLimit()"
            (close)="toggleCapacityModal()"></app-set-capacity-modal>
        }

        @if (connectZoomModal) {
        <app-connect-zoom-modal (close)="toggleConnectZoomModal()"></app-connect-zoom-modal>
        }

    </div>

</form>