@use 'media_query' as *;
:host{
    flex:1;
    
}
.contianer {
    flex: 1;
    position: relative;
    
     app-time-zone-picker {
        margin-top: 0.625rem;
        z-index: 10;
        position: absolute;
    }
}


