:host{
    flex:1;
}
.contianer {
    flex: 1;
    position: relative;
    app-time-picker {
         margin-top: 0.625rem;
        width: 100%;
        position: absolute;
        z-index: 10;
    }
}