<app-modal-container (close)="toggleConnectZoomModal()">
    <div class="zoom-connect">
        <img width="56" height="56" ngSrc="icons/trend_up_circle.svg" alt="" srcset="" class="icon">
        <div class="content">
            <h3>Connect to Zoom</h3>
            <p>Connect your account to the zoom platform to automatically create the meeting link for the event
            </p>
        </div>
        <app-button (onClick)="connectZoom()" type="primary" [fullWidth]="true">Connect</app-button>
    </div>
</app-modal-container>