<app-data-table
  tableTitle="Audit Logs"
  [data]="auditLogs()"
  [columns]="columns"
  [filters]="filters"
  [showAvatar]="true"
  [searchable]="true"
  searchPlaceholder="Search users..."
  [showCheckboxes]="false"
  [showActionLabels]="false"
  [actions]="actions"
  [itemsPerPage]="itemsPerPageValue()"
  [serverSidePagination]="true"
  [totalItems]="totalElements()"
  [loading]="isLoading()"
  (pageChange)="onPageChange($event)"
  (filterChange)="onFilterChange($event)"
  (searchChange)="onSearch($event)"
></app-data-table>