<div class="forgot-container">
  <div class="form-card">
  <div class="go-back" (click)="goBack()">
      <img src="icons/arrow_backward.svg" alt="Go Back" class="go-back-icon" />
      <span>Back</span>
    </div>
    <app-logo></app-logo>

    
      
    <div class="title-group">
      <h2>Set New Password</h2>
      <p class="subtitle description">
        Please enter the OTP sent to your email:
        
      </p>
    </div>

    @if (apiError) {
      <div class="api-message error">
        {{ apiError }}
      </div>
    }

   <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
  
  <label class="otp-label">Enter OTP</label>

  <app-otp-input 
    [length]="6"
    (otpChange)="onOtpChange($event)">
  </app-otp-input>

  @if (controls['otp'].invalid && controls['otp'].touched) {
    <div class="field error-block otp-error-block">
      <app-form-error
        message="A 6-digit OTP is required."
        [showIcon]="true">
      </app-form-error>
    </div>
  }

  <div class="field"> 
    <app-input
      formControlName="newPassword"
      label="Enter New Password"
      iconSrc="icons/lock.png"
      type="password"
      [required]="true">
    </app-input>

    <app-input
      formControlName="confirmPassword"
      label="Confirm Password"
      iconSrc="icons/lock.png"
      type="password"
      [required]="true">
    </app-input>
  </div>
  
  @if (passwordsMismatch && controls['confirmPassword'].touched) {
    <div class="field error-block">
      <app-form-error
        message="Passwords do not match."
        [showIcon]="true">
      </app-form-error>
    </div>
  }

  <p class="terms-text">
    By Clicking "Set New Password" you accept the terms of the
    <a href="#" class="terms-link">Platform Subscription Agreement</a> and
    <a href="#" class="terms-link">Terms of Use</a>.
  </p>

  <app-button 
    type="primary"
    buttonType="submit"
    [fullWidth]="true"
    [disabled]="setPasswordForm.invalid || isLoading">
    
    @if (!isLoading) {
      <span>Set New Password</span>
    } @else {
      <span class="spinner"></span>
    }
  </app-button>
</form>
    
    <div class="secure-login-info">
      <img src="icons/info.svg" alt="Question Icon" class="local-icon" />
      Secure login enabled
      <p>This is a secure, encrypted connection</p>
    </div>
  </div>
</div>
