@use "typography" as *;
@use "variables" as *;

.set-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    gap: 24px;
    width: 588px;
    border-radius: 16px;
    padding: 24px;

    img.icon {
        width: 56px;
        height: 56px;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;

        h3 {
            @include h-4;
        }

        p {
            @include body-1;
            color: $paragraph-text;
        }

        .alert-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            background-color: #ffffea;
            border-radius: 8px;
            padding: 6px 8px;

            img.icon {
                width: 24px;
                height: 24px;
            }

            p {
                color: #756400;
                @include body-1;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        align-items: center;

        .price-selection-container {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }

        app-input {
            width: 100%;
        }

        .field {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
                @include label-1;
                color: $header-dark;
            }

            textarea {
                height: 104px;
                padding: 8px;
                border-radius: 4px;
                border: 1px solid $general-stroke-light;
            }
        }

        app-button {
            width: 100%;
        }
    }
}