<div class="flyer-container">
    <div class="flyer-preview">
        <img fill [src]="flyerPreview() || 'images/flyer.jpg'" alt="" class="flyer-preview">

        <app-button buttonType="button" type="plain">
            <img width="24" height="24" ngSrc="icons/image.svg" alt="" class="preview">
        </app-button>
    </div>
    <div class="change-flyer-container">
        <input #flyerFileInput type="file" accept="image/*" (change)="onFlyerImageSelected($event)" hidden>
        <div class="info">
            <h5>{{ title() || "Upload event flyer"}}</h5>
            <p>Accepted formats: PDF, JPG, PNG (max 10MB)</p>
        </div>
        <app-button buttonType="button" type="secondary" (onClick)="flyerFileInput.click()">
            Change the picture
        </app-button>
    </div>
</div>