<table class="registrations-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number of Tickets</th>
      <th>Ticket Type</th>
    </tr>
  </thead>
  <tbody>
    @for (registrant of registrationsData(); track $index) {
      <tr>
        <td>{{ registrant.name }}</td>
        <td>{{ registrant.email }}</td>
        <td>{{ registrant.numberOfTickets }}</td>
        <td>{{ registrant.ticketType }}</td>
      </tr>
    }
  </tbody>
</table>
<app-pagination
  [totalItems]="totalItems()"
  [itemsPerPage]="itemsPerPage()"
  [currentPage]="page()"
  (pageChange)="onPageChange($event)"
>
</app-pagination>
