<div class="forgot-container">
    <div class="form-card">
        
        <app-logo /> 

        <div class="title-group">
            <h2>Forgot Password?</h2>
            <p class="subtitle">Enter your email to receive an OTP</p>
        </div>

        @if (apiMessage) {
            <div class="api-message" [ngClass]="{ 'success': !isError, 'error': isError }">
                {{ apiMessage }}
            </div>
        }

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendCode()">
            <div class="field"> 
                
                <div class="label-input-group">
                    <label for="email" class="form-label">Email Address <span class="required-star">*</span></label>
                    
                    <div class="input-container">
                        <img src="icons/mail.png" alt="Email Icon" class="icon" />
                        
                        <input 
                            type="email" 
                            id="email" 
                            formControlName="email"
                            placeholder="user@gmail.com" 
                            [class.error]="controls['email'].invalid && (controls['email'].dirty || controls['email'].touched)">
                    </div>
                </div>
                
                @if (controls['email'].invalid && (controls['email'].dirty || controls['email'].touched)) {
                    @if (controls['email'].errors?.['required']) {
                        <app-form-error message="Email is required." [showIcon]="true" />
                    }
                    @if (controls['email'].errors?.['email']) {
                        <app-form-error message="Enter a valid email address." [showIcon]="true" />
                    }
                }
            </div>
            
            <app-button 
                [type]="'primary'" 
                [fullWidth]="true" 
                [disabled]="forgotPasswordForm.invalid || isLoading"
                (click)="sendCode()"
            >
                @if (!isLoading) {
                    <span>Send Code</span>
                }
                @if (isLoading) {
                    <span class="spinner"></span>
                }
            </app-button>
        </form>
        
        <a routerLink="/login" class="back-to-login">Back to login</a>

    </div>
</div>