<div class="forgot-container">
  <div class="form-card">

    <app-logo />

    <div class="title-group">
      <h2>Forgot Password?</h2>
      <p class="subtitle">Enter your email to receive an OTP</p>
    </div>

    @if (apiMessage) {
    <div class="api-message" [ngClass]="{ 'success': !isError, 'error': isError }">
      {{ apiMessage }}
    </div>
    }

    <form class="form-group" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">


      <app-input label="Email Address" [required]="true" iconSrc="icons/mail.png" type="email" formControlName="email"
        placeholder="user@gmail.com" />

      @if (email?.invalid && (email?.dirty || email?.touched)) {
      <div classs="form-errors">
        @if (email?.errors?.['required']) {
        <app-form-error message="Email is required." [showIcon]="true" />
        }
        @if (email?.errors?.['email']) {
        <app-form-error message="Enter a valid email address." [showIcon]="true" />
        }
      </div>
      }


      <app-button buttonType="submit" [type]="'primary'" [fullWidth]="true" [disabled]="forgotPasswordForm.invalid || isLoading">
        @if (isLoading) {
        <span class="spinner"></span>
        } @else {
        <span>Send Code</span>
        }
      </app-button>
    </form>

    <a [routerLink]="APP_ROUTES.LOGIN" class="back-to-login">Back to login</a>
  </div>
</div>