<div class="forgot-container">
  <div class="form-card">
    <div class="logo">
      <span><span class="event-word">Event</span> Hub</span>
    </div>
    <div class="title-group">
      <h2>Forgot Password?</h2>
      <p class="subtitle">Enter your email to receive an OTP</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Email Address Input -->
      <div class="form-group">
        <label for="email">Email Address<span class="required-star">*</span></label>
        <div class="input-container">
          <img src="assets/icons/mail.svg" class="icon" alt="">
          <input type="email" id="email" formControlName="email" placeholder="user@gmail.com">
        </div>
        @if (f['email'].invalid && f['email'].touched) {
        <div class="error-message">
          @if (f['email'].errors?.['required']) {
          <span>Email is required.</span>
          }
          @if (f['email'].errors?.['email']) {
          <span>Enter a valid email address.</span>
          }
        </div>
        }
      </div>
      <!-- Message Area (Success/Error) -->
      @if (message) {
      <div class="api-message" [ngClass]="{'error': isError, 'success': !isError}">
        {{ message }}
      </div>
      }

      <button [disabled]="forgotPasswordForm.invalid || loading" type="submit" class="btn btn-primary"
        [disabled]="forgotPasswordForm.invalid || loading">
        @if (loading) {
        <span class="spinner"></span> Sending...
        } @else {
        Send Code
        }
      </button>
    </form>

    <a routerLink="/auth/login" class="back-to-login">Back to login</a>
  </div>
</div>