<div class="stat-card">
  <div class="stat-icon">
    <img [src]="data().icon" [alt]="data().title" />
  </div>
  <div class="stat-content">
    <span class="stat-title">{{ data().title }}</span>
    
    @if (isString(data().value)) {
    <span class="stat-value">{{ data().value }}</span>
    }
    @else if (data().currency) {
      <span class="stat-value">{{ data().value | currency }}</span>
    } 
    @else {
    <span class="stat-value">{{ data().value | number }}</span>
    }
  </div>
</div>