<div class="event-statistics">
  <h3 class="event-statistics__title">{{ title() }}</h3>
  
  <div class="event-statistics__grid">
    @for (stat of statistics(); track stat.label) {
      <div class="event-statistics__card">
        <div 
          class="event-statistics__bar" 
          [style.background-color]="stat.color"
          [style.height.%]="(stat.count / getMaxCount()) * 100"
        >
          <span class="event-statistics__count">
            {{ formatNumber(stat.count) }}
          </span>
        </div>
        <p class="event-statistics__label">{{ stat.label }}</p>
      </div>
    }
  </div>
</div>