@use 'index' as *;

.input-field-group {
  .input-label {
    span {
      color: $red-500;
      background-color: transparent;
      padding: 0;
      margin-left: $spacing-1;
    }
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: $spacing-3; // Adds space between icon and input
  border: 1px solid $general-stroke-light;
  border-radius: 0.25rem;
  padding: $spacing-3 $spacing-2;

  input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    font-size: 1rem;
    color: $gray-900;

    // Override browser autofill styles
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: $gray-900 !important;
      box-shadow: 0 0 0px 1000px white inset;
    }
  }
}