<div
  class="input-field-group"
  [class.has-error]="hasError()"
  [class.focused]="isFocused()"
  style="text-align: left;"
>
  @if (label()) {
    <label class="input-label" [attr.for]="formControlName()">
      {{ label() }}
      @if (required()) {
        <span>*</span>
      }
    </label>
  }

  <div class="input-wrapper">
    @if (iconSrc()) {
      <img [src]="iconSrc()" alt="icon" class="input-icon" />
    }

    <input
      [id]="formControlName()"
      [type]="inputType()"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onValueChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [disabled]="disabled()"
      [class.error]="hasError()"
    />

    @if (type() === 'password') {
      <button
        type="button"
        class="toggle-password"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        <img
          [src]="
            showPassword()
              ? '/assets/icons/eye-close-icon.png'
              : '/assets/icons/eye.png'
          "
          alt="Toggle Password"
        />
      </button>
    }
  </div>
  @if (hasError() && errorMessage()) {
   <app-form-error
    [message]="errorMessage()"
    [showIcon]="true"
    id="{{ label() + '-error' }}"
  ></app-form-error>
  }
</div>
