@use 'typography' as *;
@use 'colors' as *;
@use 'variables' as *;

.input-label {
  @include body-2;
  display: block;
  margin-bottom: $spacing-1;
  color: $gray-950;
  
  

  span {
    color: $red-500;
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  

  input {
    width: 100%;
    padding: $spacing-3 $spacing-4;
    border: 1px solid $gray-300;
    border-radius: $radius-3;
    font-family: $font-lato;
    transition: all 0.2s ease;
    

    &:focus {
      border-color: $orange-500;
      outline: none;
    }

    &.error {
      border-color: $red-500;
      background-color: rgba($red-50, 0.5);
    }
  }

  .input-icon {
    position: absolute;
    left: $spacing-3;
    width: 20px;
    height: 20px;
  }

  .toggle-password {
    position: absolute;
    right: $spacing-3;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
}

.error {
  color: $red-600;
  margin-top: $spacing-1;
  @include body-3;
}

.has-error input {
  border-color: $red-500;
}

.focused input {
  border-color: $orange-500;
}
