<div class="input-field-group" [class.has-error]="hasError()">
  <label *ngIf="label" class="input-label">
    {{ label }}
    <span *ngIf="required" class="required">*</span>
  </label>

  <div class="input-wrapper" [class.with-icon]="iconSrc">
    <img *ngIf="iconSrc" [src]="iconSrc" alt="icon" class="input-icon" />

    <input
      [type]="inputType()"
      [placeholder]="placeholder"
      [value]="_value()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [disabled]="disabled"
      class="form-input"
    />


  @if (type() === 'password') {
    <button
        type="button"
        class="toggle-password"
        (click)="togglePasswordVisibility()"
        [attr.aria-pressed]="showPassword()"
    >
        <img
          [src]="
            showPassword()
              ? 'icons/eye-close-icon.png'
              : 'icons/eye-open.svg'
          "
          alt="Toggle Password"
        />
      </button>
    }
  </div>

  <app-form-error
    *ngIf="hasError() && errorMessage"
    [message]="errorMessage"
    [showIcon]="true"
  ></app-form-error>
</div>

@if (errorMessage()) {
  <div class="error">{{ errorMessage() }}</div>
}
