<div class="form-group" [class.has-error]="hasError()" [class.focused]="isFocused()">
  @if (label()) {
    <label [attr.for]="label()">{{ label() }}</label>
  }

  <div class="input-wrapper" [ngClass]="getClasses()">
    @if (iconSrc()) {
      <img [src]="iconSrc()" alt="icon" class="input-icon" />
    }

    <input
      [type]="inputType()"
      [placeholder]="placeholder()"
      [value]="currentValue()"
      (input)="onInput($any($event.target).value)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [disabled]="isDisabled()"
      [class.error]="hasError()"
    />


  @if (type === 'password') {
    <button
        type="button"
        class="toggle-password"
        (click)="togglePasswordVisibility()"
        [attr.aria-pressed]="showPassword()"
    >
        <img
          [src]="
            showPassword()
              ? 'assets/icons/eye-close-icon.png'
              : 'assets/icons/eye.png'
          "
          alt="Toggle Password"
        />
      </button>
    }
  </div>
 @if (hasError()) {
  <app-form-error
    [message]="errorMessage()"
    [showIcon]="true"
    id="{{ label() + '-error' }}"
  ></app-form-error>
}

</div>

@if (errorMessage) {
  <div class="error">{{ errorMessage }}</div>
}
